# Correções

Problemas encontrados podem ser corrigidos aqui, adicionados ao arquivo de migração `009-fix-hinos.sql`.

In [1]:
from sqlalchemy import create_engine

eng_hdb = create_engine("sqlite:///..//db//database.db")
con_hdb = eng_hdb.connect()

In [20]:
import pandas as pd

sql_fix = "select * from hino where coletanea_id = 3 and numero = 'null'"
hino_fix = pd.read_sql_query(sql_fix, con_hdb)
hino_fix

,id,coletanea_id,categoria_id,numero,nome,texto,texto_limpo,texto_estruturado,ano_composicao,tom,date_insert,date_update
0,1038,3,None,null,"GRÃO DE MOSTARDA, FERMENTO,","SAINDO DE CASA \nNAQUELE DIA, \nASSENTADO JUNT...","SAINDO DE CASA NAQUELE DIA, ASSENTADO JUNTO AO...",None,None,None,2025-04-18 15:10:15,2025-04-18 15:10:15

In [39]:
texto = hino_fix["texto"].iloc[0].replace("\\n", "\n").split("\n")
texto, texto[14]

(['SAINDO DE CASA ',
  'NAQUELE DIA, ',
  'ASSENTADO JUNTO AO MAR, JESUS FOI EXPLICAR',
  '',
  '04AV- AS PARÁBOLAS                       DO REINO',
  '',
  'ÀQUELA MULTIDĀO ',
  'E A TODOS QUE O SEGUIAM,',
  'SOBRE AS PARÁBOLAS ',
  'DE UM REINO QUE VIRIA.',
  '',
  'SETE SÃO ',
  'AS PARÁBOLAS DO REINO:',
  'SEMEADOR, TRIGO E JOIO,',
  '',
  'TESOURO ESCONDIDO, PÉROLA E REDE.',
  '',
  'VAMOS VIGIAR E ORAR,',
  'JESUS BREVE VIRÁ; IREMOS TODOS COM ',
  'ELE MORAR. ',
  'MARANATA, JESUS VEM!'],
 '')

In [33]:
parte_texto = hino_fix["nome"].iloc[0]
parte_texto

'GRÃO DE MOSTARDA, FERMENTO,'

In [40]:
texto[14] = parte_texto
titulo = texto.pop(4)
titulo, texto

('04AV- AS PARÁBOLAS                       DO REINO',
 ['SAINDO DE CASA ',
  'NAQUELE DIA, ',
  'ASSENTADO JUNTO AO MAR, JESUS FOI EXPLICAR',
  '',
  '',
  'ÀQUELA MULTIDĀO ',
  'E A TODOS QUE O SEGUIAM,',
  'SOBRE AS PARÁBOLAS ',
  'DE UM REINO QUE VIRIA.',
  '',
  'SETE SÃO ',
  'AS PARÁBOLAS DO REINO:',
  'SEMEADOR, TRIGO E JOIO,',
  'GRÃO DE MOSTARDA, FERMENTO,',
  'TESOURO ESCONDIDO, PÉROLA E REDE.',
  '',
  'VAMOS VIGIAR E ORAR,',
  'JESUS BREVE VIRÁ; IREMOS TODOS COM ',
  'ELE MORAR. ',
  'MARANATA, JESUS VEM!'])

In [41]:
"\\n".join(texto)

'SAINDO DE CASA \\nNAQUELE DIA, \\nASSENTADO JUNTO AO MAR, JESUS FOI EXPLICAR\\n\\n\\nÀQUELA MULTIDĀO \\nE A TODOS QUE O SEGUIAM,\\nSOBRE AS PARÁBOLAS \\nDE UM REINO QUE VIRIA.\\n\\nSETE SÃO \\nAS PARÁBOLAS DO REINO:\\nSEMEADOR, TRIGO E JOIO,\\nGRÃO DE MOSTARDA, FERMENTO,\\nTESOURO ESCONDIDO, PÉROLA E REDE.\\n\\nVAMOS VIGIAR E ORAR,\\nJESUS BREVE VIRÁ; IREMOS TODOS COM \\nELE MORAR. \\nMARANATA, JESUS VEM!'