# Part 2

In [ ]:
import pandas as pd
from pathlib import Path

assets_folder = Path("../assets")
hinos_analise = pd.read_pickle(assets_folder / "hinos_analise.pkl")

# Explorando os títulos

In [ ]:
hinos_analise = hinos_analise[["numero", "nome", "categoria"]].set_index("numero")
hinos_analise

In [ ]:
# Extract subtitles between parentheses and clean up the "nome" column
hinos_analise["subtitulo"] = (
    hinos_analise["nome"].str.extract(r"\((.*?)\)").squeeze().str.strip()
)
hinos_analise["nome"] = hinos_analise["nome"].str.replace(
    r"\s*\(.*?\)\s*", "", regex=True
)
hinos_analise[~hinos_analise["subtitulo"].isna()]

In [ ]:
# desconsiderando subtitulo
# tamanho real
hinos_analise["titulo_tam_real"] = hinos_analise["nome"].str.len()
# top 5 maiores e menores
print("Top 10 maiores títulos")
display(hinos_analise.sort_values(by="titulo_tam_real", ascending=False).head(10))
print("Top 10 menores títulos")
display(hinos_analise.sort_values(by="titulo_tam_real").head(10))

In [ ]:
# criar dataframe novo com nome e subtitulo na mesma coluna, compartinhando mesmo id
hinos_titulos = pd.concat(
    [
        hinos_analise[["subtitulo", "categoria"]].rename(columns={"subtitulo": "nome"}),
        hinos_analise[["nome", "categoria"]],
    ]
).dropna()

In [ ]:
# sem subtitulo
# tamanho real
hinos_titulos["titulo_tam_real"] = hinos_titulos["nome"].str.len()
# top 5 maiores e menores
print("Top 10 maiores títulos")
display(hinos_titulos.sort_values(by="titulo_tam_real", ascending=False).head(10))
print("Top 10 menores títulos")
display(hinos_titulos.sort_values(by="titulo_tam_real").head(10))