# EDA 1 | Parte 2 - Análise dos Títulos dos Hinos da ICM
Este notebook explora os títulos dos hinos presentes na coletânea principal da Igreja Cristã Maranata.

O objetivo é analisar padrões, tamanhos, e variações nos títulos e subtítulos, facilitando estudos sobre organização e identificação dos louvores.

---
**Conteúdo do notebook:**
- Carregamento dos dados tratados na etapa anterior
- Extração e limpeza dos títulos e subtítulos
- Análise dos tamanhos dos títulos
- Criação de DataFrame para títulos e subtítulos
- Visualização dos maiores e menores títulos

---

**A seguir:** Carregamento do DataFrame com os dados dos hinos, previamente tratados e salvos na etapa anterior.

In [1]:
# --- Carregamento dos dados dos hinos tratados ---
import pandas as pd
from pathlib import Path

# Define a pasta de assets e carrega o DataFrame dos hinos
assets_folder = Path("../assets")
hinos_analise: pd.DataFrame = pd.read_pickle(assets_folder / "hinos_analise.pkl")

# Exibe os primeiros registros para conferência
hinos_analise.head()

,nome,texto,texto_limpo,categoria_id,categoria,numero
794,AQUILO QUE FUI NÃO SOU MAIS,"AQUILO QUE FUI NÃO SOU MAIS,\nNEM SOU TUDO O Q...","AQUILO QUE FUI NÃO SOU MAIS, NEM SOU TUDO O QU...",1,CLAMOR,0
0,O SANGUE DE JESUS TEM PODER,"O SANGUE DE JESUS TEM PODER,\nPODER QUE A MIM ...","O SANGUE DE JESUS TEM PODER, PODER QUE A MIM P...",1,CLAMOR,1
1,O SANGUE DE JESUS TEM PODER PARA SALVAR,O SANGUE DE JESUS TEM PODER (2x)\nO SANGUE DE ...,"O SANGUE DE JESUS TEM PODER O SANGUE DE JESUS,...",1,CLAMOR,2
2,CLAMO A TI,"CLAMO A TI, Ó MEU SENHOR,\nCLAMO A TI, MEU SAL...","CLAMO A TI, Ó MEU SENHOR, CLAMO A TI, MEU SALV...",1,CLAMOR,3
3,QUANDO TE PROSTRARES,"QUANDO TE PROSTRARES DIANTE DE DEUS,\nLEMBRA Q...","QUANDO TE PROSTRARES DIANTE DE DEUS, LEMBRA QU...",1,CLAMOR,4

---

**A seguir:** Seleção das colunas relevantes (número, nome, categoria) e definição do índice para facilitar a análise dos títulos.

In [2]:
# --- Seleção das colunas relevantes e definição do índice ---
# Mantém apenas número, nome e categoria para análise dos títulos
hinos_analise = hinos_analise[["numero", "nome", "categoria"]].set_index("numero")

# Exibe os dados filtrados
hinos_analise.head()

                                           nome categoria
numero
0                   AQUILO QUE FUI NÃO SOU MAIS    CLAMOR
1                   O SANGUE DE JESUS TEM PODER    CLAMOR
2       O SANGUE DE JESUS TEM PODER PARA SALVAR    CLAMOR
3                                    CLAMO A TI    CLAMOR
4                          QUANDO TE PROSTRARES    CLAMOR

---

**A seguir:** Extração dos subtítulos presentes entre parênteses e limpeza dos títulos, separando o nome principal do subtítulo para análise detalhada.

In [3]:
# --- Extração e limpeza dos subtítulos dos hinos ---
# Extrai subtítulos entre parênteses e limpa a coluna "nome"
hinos_analise["subtitulo"] = (
    hinos_analise["nome"].str.extract(r"\((.*?)\)").squeeze().str.strip()
)
hinos_analise["nome"] = hinos_analise["nome"].str.replace(
    r"\s*\(.*?\)\s*", "", regex=True
)

# Exibe hinos que possuem subtítulo
hinos_analise[~hinos_analise["subtitulo"].isna()].head()

,nome,categoria,subtitulo
numero,,,
118,"Ó SENHOR, DEUS DE ISRAEL",DEDICAÇÃO,EDIFIQUEI UMA CASA
185,"JESUS, SENHOR, ME CHEGO A TI",DEDICAÇÃO,EU VENHO COMO ESTOU
197,HOJE QUERO SOMENTE AGRADECER,DEDICAÇÃO,SOMENTE AGRADECER
252,SE DISPUSERES O TEU CORAÇÃO,"MORTE, RESSURREIÇÃO E SALVAÇÃO",JÓ 11:13-19
255,MEU CORAÇÃO ENGRANDECE,"MORTE, RESSURREIÇÃO E SALVAÇÃO",CÂNTICO DE VITÓRIA

---

**A seguir:** Cálculo do tamanho dos títulos (sem subtítulo) e exibição dos 10 maiores e 10 menores títulos para identificar padrões e curiosidades.

In [4]:
# --- Análise dos tamanhos dos títulos (sem subtítulo) ---
# Calcula o tamanho real dos títulos
hinos_analise["titulo_tam_real"] = hinos_analise["nome"].str.len()

# Exibe os 10 maiores e 10 menores títulos
print("Top 10 maiores títulos")
display(hinos_analise.sort_values(by="titulo_tam_real", ascending=False).head(10))
print("Top 10 menores títulos")
display(hinos_analise.sort_values(by="titulo_tam_real").head(10))

Top 10 maiores títulos

,nome,categoria,subtitulo,titulo_tam_real
numero,,,,
323,DEUS ESTÁ PRESENTE SEMPRE PRONTO A NOS AJUDAR,CONSOLO E ENCORAJAMENTO,NaN,46
612,"SANTO, SANTO, SANTO, Ó DEUS DE GLÓRIA E PODER",LOUVOR,NaN,46
511,JESUS CRISTO VOLTARÁ COM SEU GRANDE ESPLENDOR,VOLTA DE JESUS E ETERNIDADE,NaN,46
654,GRANDE É O SENHOR E MUI DIGNO DE SER LOUVADO,SALMOS DE LOUVOR,NaN,45
285,TU QUE ANDAS SÓ E TRISTE SEM SABER O CAMINHO,"MORTE, RESSURREIÇÃO E SALVAÇÃO",NaN,45
79,DEUS ESTÁ PRESENTE ENTRE PECADORES COMO NÓS,INVOCAÇÃO E COMUNHÃO,NaN,44
103,A MINH’ALMA ESTAVA LONGE DO CAMINHO DO CÉU,DEDICAÇÃO,NaN,43
561,OUVI COMO QUE A VOZ DE UMA GRANDE MULTIDÃO,VOLTA DE JESUS E ETERNIDADE,NaN,43
493,"COMO FOI PARA O CÉU, JESUS CRISTO HÁ DE VIR",VOLTA DE JESUS E ETERNIDADE,NaN,43
176,"NÃO EXISTE OUTRO AMOR IGUAL AO TEU, SENHOR",DEDICAÇÃO,NaN,42

Top 10 menores títulos

,nome,categoria,subtitulo,titulo_tam_real
numero,,,,
645,COROAI,LOUVOR,NaN,6
653,ALELUIA,SALMOS DE LOUVOR,SALMOS 113,7
219,POR AMOR,"MORTE, RESSURREIÇÃO E SALVAÇÃO",NaN,8
396,ABBA PAI,SANTIFICAÇÃO E DERRAMAMENTO DO ESPÍRITO SANTO,NaN,8
574,ADORAREI,LOUVOR,NaN,8
554,JERUSALÉM,VOLTA DE JESUS E ETERNIDADE,SUAS RUAS DE OURO,9
212,RUDE CRUZ,"MORTE, RESSURREIÇÃO E SALVAÇÃO",NaN,9
621,ADORAR-TE,LOUVOR,NaN,9
332,O REI E EU,CONSOLO E ENCORAJAMENTO,NaN,10
43,VOU CLAMAR,CLAMOR,NaN,10

---

**A seguir:** Criação de um novo DataFrame que reúne títulos e subtítulos em uma única coluna, permitindo análises comparativas entre ambos.

In [5]:
# --- Criação de DataFrame para títulos e subtítulos ---
# Junta títulos e subtítulos em uma única coluna para análise comparativa
hinos_titulos = pd.concat(
    [
        hinos_analise[["subtitulo", "categoria"]].rename(columns={"subtitulo": "nome"}),
        hinos_analise[["nome", "categoria"]],
    ]
).dropna()

# Exibe amostra do novo DataFrame
hinos_titulos.head()

                       nome                       categoria
numero
118      EDIFIQUEI UMA CASA                       DEDICAÇÃO
185     EU VENHO COMO ESTOU                       DEDICAÇÃO
197       SOMENTE AGRADECER                       DEDICAÇÃO
252             JÓ 11:13-19  MORTE, RESSURREIÇÃO E SALVAÇÃO
255      CÂNTICO DE VITÓRIA  MORTE, RESSURREIÇÃO E SALVAÇÃO

---

**A seguir:** Análise dos tamanhos dos títulos considerando também os subtítulos, exibindo os maiores e menores para comparação.

In [6]:
# --- Análise dos tamanhos dos títulos e subtítulos ---
# Calcula o tamanho real considerando também os subtítulos
hinos_titulos["titulo_tam_real"] = hinos_titulos["nome"].str.len()

# Exibe os 10 maiores e 10 menores títulos/subtítulos
print("Top 10 maiores títulos/subtítulos")
display(hinos_titulos.sort_values(by="titulo_tam_real", ascending=False).head(10))
print("Top 10 menores títulos/subtítulos")
display(hinos_titulos.sort_values(by="titulo_tam_real").head(10))

Top 10 maiores títulos/subtítulos

,nome,categoria,titulo_tam_real
numero,,,
612,"SANTO, SANTO, SANTO, Ó DEUS DE GLÓRIA E PODER",LOUVOR,46
511,JESUS CRISTO VOLTARÁ COM SEU GRANDE ESPLENDOR,VOLTA DE JESUS E ETERNIDADE,46
323,DEUS ESTÁ PRESENTE SEMPRE PRONTO A NOS AJUDAR,CONSOLO E ENCORAJAMENTO,46
654,GRANDE É O SENHOR E MUI DIGNO DE SER LOUVADO,SALMOS DE LOUVOR,45
285,TU QUE ANDAS SÓ E TRISTE SEM SABER O CAMINHO,"MORTE, RESSURREIÇÃO E SALVAÇÃO",45
79,DEUS ESTÁ PRESENTE ENTRE PECADORES COMO NÓS,INVOCAÇÃO E COMUNHÃO,44
493,"COMO FOI PARA O CÉU, JESUS CRISTO HÁ DE VIR",VOLTA DE JESUS E ETERNIDADE,43
561,OUVI COMO QUE A VOZ DE UMA GRANDE MULTIDÃO,VOLTA DE JESUS E ETERNIDADE,43
103,A MINH’ALMA ESTAVA LONGE DO CAMINHO DO CÉU,DEDICAÇÃO,43
176,"NÃO EXISTE OUTRO AMOR IGUAL AO TEU, SENHOR",DEDICAÇÃO,42

Top 10 menores títulos/subtítulos

,nome,categoria,titulo_tam_real
numero,,,
475,AGEU,SANTIFICAÇÃO E DERRAMAMENTO DO ESPÍRITO SANTO,4
704,LÁZARO,GRUPO DE LOUVOR,6
645,COROAI,LOUVOR,6
653,ALELUIA,SALMOS DE LOUVOR,7
705,GRATIDÃO,GRUPO DE LOUVOR,8
574,ADORAREI,LOUVOR,8
219,POR AMOR,"MORTE, RESSURREIÇÃO E SALVAÇÃO",8
396,ABBA PAI,SANTIFICAÇÃO E DERRAMAMENTO DO ESPÍRITO SANTO,8
358,SALMO 23,CONSOLO E ENCORAJAMENTO,8
382,VITÓRIAS,CONSOLO E ENCORAJAMENTO,8

---

**Fim do notebook:** Finalizamos a análise dos títulos e subtítulos dos hinos. Os dados estão prontos para visualização, exportação ou estudos complementares.